USE [GerenciamentoFinancas]
GO
/****** Object:  Table [dbo].[tCategoria_Despesa]    Script Date: 24/04/2020 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCategoria_Despesa](
	[cCategoria] [decimal](10, 0) IDENTITY(1,1) NOT NULL,
	[rCategoria] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[cCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tCobranca_Pagamento]    Script Date: 24/04/2020 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCobranca_Pagamento](
	[cCobrPag] [decimal](10, 0) IDENTITY(1,1) NOT NULL,
	[cTipo] [decimal](2, 0) NULL,
	[dtRegistro] [date] NULL,
	[cValor] [decimal](18, 2) NULL,
	[rTitular] [varchar](100) NULL,
	[cStatus] [decimal](2, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[cCobrPag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tConsulta]    Script Date: 24/04/2020 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tConsulta](
	[cConsulta] [decimal](10, 0) IDENTITY(1,1) NOT NULL,
	[dtCriacao] [datetime] NULL,
	[rReceita] [varchar](50) NULL,
	[cValorReceita] [decimal](18, 0) NULL,
	[rDespesa] [varchar](50) NULL,
	[cValorDespesa] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[cConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tConta_Bancaria]    Script Date: 24/04/2020 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tConta_Bancaria](
	[cConta] [decimal](10, 0) IDENTITY(1,1) NOT NULL,
	[rBanco] [varchar](60) NULL,
	[cAgencia] [decimal](6, 0) NULL,
	[cCta] [decimal](11, 0) NULL,
	[cSaldo] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[cConta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDespesa]    Script Date: 24/04/2020 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDespesa](
	[cDespesa] [decimal](10, 0) IDENTITY(1,1) NOT NULL,
	[rDescricao] [varchar](100) NULL,
	[cValor] [decimal](18, 2) NULL,
	[cConta] [decimal](10, 0) NULL,
	[cCategoria] [decimal](10, 0) NULL,
	[cPagamento] [decimal](10, 0) NULL,
	[dtRegistro] [date] NULL,
	[dtUltAtua] [date] NULL,
	[cStatus] [decimal](2, 0) NULL,
	[rLog] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[cDespesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tForma_Pagamento]    Script Date: 24/04/2020 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tForma_Pagamento](
	[cFormaPagamento] [decimal](10, 0) IDENTITY(1,1) NOT NULL,
	[rPagamento] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[cFormaPagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tParcelamento]    Script Date: 24/04/2020 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tParcelamento](
	[cParcelamento] [decimal](10, 0) NULL,
	[cQtdeParcela] [decimal](2, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tReceita]    Script Date: 24/04/2020 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tReceita](
	[cReceita] [decimal](10, 0) IDENTITY(1,1) NOT NULL,
	[dtRec] [datetime] NULL,
	[rDescricao] [varchar](100) NULL,
	[cValor] [decimal](18, 2) NULL,
	[cConta] [decimal](10, 0) NULL,
	[cTipo] [decimal](10, 0) NULL,
	[rLog] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[cReceita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tTipo_Receita]    Script Date: 24/04/2020 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tTipo_Receita](
	[cTipoReceita] [decimal](10, 0) IDENTITY(1,1) NOT NULL,
	[rTipo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[cTipoReceita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tConsulta] ON 

INSERT [dbo].[tConsulta] ([cConsulta], [dtCriacao], [rReceita], [cValorReceita], [rDespesa], [cValorDespesa]) VALUES (CAST(1 AS Decimal(10, 0)), CAST(N'2020-03-03T00:00:00.000' AS DateTime), N'SALARIO', CAST(2000 AS Decimal(18, 0)), N'FATURA ALAN', CAST(379 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[tConsulta] OFF
SET IDENTITY_INSERT [dbo].[tConta_Bancaria] ON 

INSERT [dbo].[tConta_Bancaria] ([cConta], [rBanco], [cAgencia], [cCta], [cSaldo]) VALUES (CAST(1 AS Decimal(10, 0)), N'Nubank', CAST(6497 AS Decimal(6, 0)), CAST(113164 AS Decimal(11, 0)), CAST(2113.45 AS Decimal(18, 2)))
INSERT [dbo].[tConta_Bancaria] ([cConta], [rBanco], [cAgencia], [cCta], [cSaldo]) VALUES (CAST(2 AS Decimal(10, 0)), N'Itau', CAST(6467 AS Decimal(6, 0)), CAST(113164 AS Decimal(11, 0)), CAST(10500.00 AS Decimal(18, 2)))
INSERT [dbo].[tConta_Bancaria] ([cConta], [rBanco], [cAgencia], [cCta], [cSaldo]) VALUES (CAST(3 AS Decimal(10, 0)), N'Santander', CAST(2550 AS Decimal(6, 0)), CAST(255011 AS Decimal(11, 0)), CAST(450.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tConta_Bancaria] OFF
SET IDENTITY_INSERT [dbo].[tReceita] ON 

INSERT [dbo].[tReceita] ([cReceita], [dtRec], [rDescricao], [cValor], [cConta], [cTipo], [rLog]) VALUES (CAST(1 AS Decimal(10, 0)), CAST(N'2020-04-22T00:00:00.000' AS DateTime), N'', CAST(1200.00 AS Decimal(18, 2)), CAST(1 AS Decimal(10, 0)), CAST(1 AS Decimal(10, 0)), N'22/04/2020 14:13:53- Inclusão de receita')
INSERT [dbo].[tReceita] ([cReceita], [dtRec], [rDescricao], [cValor], [cConta], [cTipo], [rLog]) VALUES (CAST(2 AS Decimal(10, 0)), CAST(N'2020-04-22T00:00:00.000' AS DateTime), N'', CAST(200.00 AS Decimal(18, 2)), CAST(1 AS Decimal(10, 0)), CAST(1 AS Decimal(10, 0)), N'22/04/2020 19:37:05- Inclusão de receita - 23/04/2020 20:00:55Dados da Receita alterada. - 23/04/2020 20:02:30Dados da Receita alterada.')
SET IDENTITY_INSERT [dbo].[tReceita] OFF
SET IDENTITY_INSERT [dbo].[tTipo_Receita] ON 

INSERT [dbo].[tTipo_Receita] ([cTipoReceita], [rTipo]) VALUES (CAST(1 AS Decimal(10, 0)), N'SALÁRIO')
SET IDENTITY_INSERT [dbo].[tTipo_Receita] OFF
ALTER TABLE [dbo].[tDespesa]  WITH CHECK ADD FOREIGN KEY([cCategoria])
REFERENCES [dbo].[tCategoria_Despesa] ([cCategoria])
GO
ALTER TABLE [dbo].[tDespesa]  WITH CHECK ADD FOREIGN KEY([cConta])
REFERENCES [dbo].[tConta_Bancaria] ([cConta])
GO
ALTER TABLE [dbo].[tDespesa]  WITH CHECK ADD FOREIGN KEY([cPagamento])
REFERENCES [dbo].[tForma_Pagamento] ([cFormaPagamento])
GO
ALTER TABLE [dbo].[tDespesa]  WITH CHECK ADD FOREIGN KEY([cCategoria])
REFERENCES [dbo].[tCategoria_Despesa] ([cCategoria])
GO
ALTER TABLE [dbo].[tDespesa]  WITH CHECK ADD FOREIGN KEY([cCategoria])
REFERENCES [dbo].[tCategoria_Despesa] ([cCategoria])
GO
ALTER TABLE [dbo].[tDespesa]  WITH CHECK ADD FOREIGN KEY([cConta])
REFERENCES [dbo].[tConta_Bancaria] ([cConta])
GO
ALTER TABLE [dbo].[tDespesa]  WITH CHECK ADD FOREIGN KEY([cConta])
REFERENCES [dbo].[tConta_Bancaria] ([cConta])
GO
ALTER TABLE [dbo].[tDespesa]  WITH CHECK ADD FOREIGN KEY([cPagamento])
REFERENCES [dbo].[tForma_Pagamento] ([cFormaPagamento])
GO
ALTER TABLE [dbo].[tDespesa]  WITH CHECK ADD FOREIGN KEY([cPagamento])
REFERENCES [dbo].[tForma_Pagamento] ([cFormaPagamento])
GO
ALTER TABLE [dbo].[tReceita]  WITH CHECK ADD FOREIGN KEY([cConta])
REFERENCES [dbo].[tConta_Bancaria] ([cConta])
GO
ALTER TABLE [dbo].[tReceita]  WITH CHECK ADD FOREIGN KEY([cTipo])
REFERENCES [dbo].[tTipo_Receita] ([cTipoReceita])
GO
